#about {
    height: 100vh;
    background-color: #363F48;
}

.about-content {
    height: 100%;
    width: 100%;
}

.reflected-profile img {
    position: absolute;
    top: -1px;
    right: 88px;
    height: 80%;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity: 0.14;
}