#about {
    position: relative;
    height: 100vh;
    background-color: #363F48;
}

.about-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-top: 88px;
    padding-bottom: 88px;
}

.about-content .title {
    color: #F5F5F5;
    padding-left: 40px;
    margin-bottom: 48px;
}

.about-content .separator {
    background-color: #F5F5F5;
    margin-left: 40px;
    margin-bottom: 64px;
}

.about-content p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 300;
    color: #F5F5F5;
    line-height: 30pt;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.media-buttons {
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-top: 88px;
    padding-right: 40px;
}

.media-buttons input {
    height: 56px;
    width: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.reflected-profile img {
    position: absolute;
    top: -1px;
    right: 88px;
    height: 80%;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    opacity: 0.14;
}