
#projects {
    position: relative;
    background-color: #F7F7F7;
}

#projects-navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 88px;
    top: 0px;
    left: 128px;
    height: 100vh;
    width: 4px;
    background-color: #363F48;
    z-index: 1000;
}

#projects-navigator > .round-button {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #F7F7F7;
    border-style: solid;
    border-width: 4px;
    border-color: #363F48;
}

#projects-navigator > .active-button {
    background-color: #363F48;
}

#projects .content-container {
    flex-direction: row-reverse;
}

#intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 75%;
    text-align: right;
    padding-top: 88px;
    padding-bottom: 88px;
}

#intro-container .title {
    padding-right: 40px;
    margin-bottom: 48px;
}

#intro-container .quote {
    padding-right: 40px;
    margin-bottom: 24px;
}

#intro-container .separator {
    margin-top: 24px;
    margin-right: 40px;
    margin-bottom: 64px;
}

.project-wrapper {
    position: relative;
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-right: 40px;
    transition: all .3s ease-in-out;
}

.project-wrapper:hover {
    transform: scale(0.98);
}

.project-backdrop {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-description {
    width: 55%;
    position: absolute;
    left: 88px;
    top: 128px;
}

.project-description .title {
    color: #F7F7F7;
}

.project-description p {
    color: #F7F7F7;
    padding: 0;
    padding-top: 64px;
}

.project-wrapper > .credits {
    position: absolute;
    left: 88px;
    bottom: 56px;
    font-family: 'Quicksand', sans-serif;
    font-size: 9pt;
    color: #F7F7F7;
}
