
.content-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 88px;
    padding-right: 88px;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 30pt;
}

.separator {
    background-color: #1D1D1D;
    width: 56px;
    height: 2px;
    z-index: 100;
}
