
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 300;
    color: #707070;
    line-height: 30pt;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 88px;
    padding-right: 88px;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 30pt;
}

.separator {
    background-color: #1D1D1D;
    width: 56px;
    height: 2px;
    z-index: 100;
}

.quote {
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: 300;
    line-height: 25pt;
    color: #707070;
}
